<div class="font-site bg-indigo-400">
    <div class="flex flex-row bg-gray-900 p-7  py-16">
        <div class="flex order-2 w-5/12 items-start shadow-yellow-500 " >
            <img class="w-auto object-contain"
                src="../../../../assets/imgs/digital-business-conference-flyer-design-template-5328947015bafd2306e7f33adbbbb3fa_screen(1).jpg"
                alt>
        </div>
        <div class="flex flex-col order-1 text-white px-10 w-7/12 items-start">
            <div class="text-3xl py-5 text-yellow-500 font-bold">
                استارتاپ ویکند آفرینه
            </div>
            <div class="flex leading-8 text-lg">
                <p>
                    استارت آپ ویکند برنامه ای جهانی است که تاکنون در بیش از ۱۰۰۰ شهر دنیا (۱۳۵ کشور) برگزار شده و شبکه ای وسیع از کارآفرینان را گرد هم آورده است. ویژگی اصلی این رویداد، طوفان فکری و بررسی ایده ها است
                </p>
            </div>
            <div class="flex gap-4 text-xl items-center py-5">
                <div class="order-2 border-4 border-yellow-500 p-3 rounded-xl">
                    5 آبان 1402 ،ساعت 5:30
                </div>
                <div class="order-1 text-4xl text-yellow-400">
                    <i class="fa-regular fa-calendar-days"></i>
                </div>
            </div>
            <div class="flex gap-2 text-xl items-center py-5">
                <div class="order-2 ">
                    50000 تومان
                </div>
                <div class="text-2xl order-1 p-2 text-yellow-400">
                    <i class="fa-solid fa-coins"></i>
                </div>
            </div>
            <div class="flex text-start items-center gap-2">
                <div class="order-2 text-xl">
                    بابل، خیابان امام رضا، میدان کشوری
                </div>
                <div class="text-2xl p-2 order-1 text-yellow-400">
                    <i class="fa-solid fa-location-dot"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="flex flex-row p-10 bg-gray-600 text-white" style="background-image: url(../../../../assets/imgs/magicpattern-starry-night-1707228130178.png);">
        <div class="w-1/2 order-2 flex justify-center items-start">
            <img src="../../../../assets/imgs/Startup life-amico.svg" class="w-3/4" alt="">
        </div>
        <div class="w-1/2 order-1 text-lg font-bold leading-10 flex items-center">
            <p>
                یکی دیگر از مزایای شرکت در استارت آپ ویکند پیدا کردن دوستان جدید است. پیشرفت در یک فضای تک بُعدی کار سختی است. برنامه نویس ها، گرافیست ها، انیماتورها، بازاریاب ها، سرمایه گذارها و … زمانی پیشرفت می کنند که در کنار هم باشند. بدون شک در طی این سه روز با افراد متعددی آشنا می شوید که می توانید روی کمکشان در ایده های بعدی، حساب باز کنید.
            </p>
        </div>
    </div>
    <div class="">
        
    </div>
</div>
