<div class="font-site ">
    <div class="flex flex-row bg-gray-900 p-7  py-16">
        <div class="flex order-2 w-5/12 items-start shadow-yellow-500 ">
            <img class="w-auto object-contain"
                src="../../../../assets/imgs/digital-business-conference-flyer-design-template-5328947015bafd2306e7f33adbbbb3fa_screen(1).jpg"
                alt>
        </div>
        <div class="flex flex-col order-1 text-white px-10 w-7/12 items-start">
            <div class="text-3xl py-5 text-yellow-500 font-bold">
                استارتاپ ویکند آفرینه
            </div>
            <div class="flex leading-8 text-lg">
                <p>
                    استارت آپ ویکند برنامه ای جهانی است که تاکنون در بیش از ۱۰۰۰
                    شهر دنیا (۱۳۵ کشور) برگزار شده و شبکه ای وسیع از کارآفرینان
                    را گرد هم آورده است. ویژگی اصلی این رویداد، طوفان فکری و
                    بررسی ایده ها است
                </p>
            </div>
            <div class="flex gap-4 text-xl items-center py-5">
                <div class="order-2 border-4 border-yellow-500 p-3 rounded-xl">
                    5 آبان 1402 ،ساعت 5:30
                </div>
                <div class="order-1 text-4xl text-yellow-400">
                    <i class="fa-regular fa-calendar-days"></i>
                </div>
            </div>
            <div class="flex gap-4 text-xl items-center py-5">
                <div class="order-2 ">
                    50000 تومان
                </div>
                <div class="text-4xl order-1  text-yellow-400">
                    <i class="fa-solid fa-coins"></i>
                </div>
            </div>
            <div class="flex text-start items-center gap-4 py-5">
                <div class="order-2 text-xl">
                    بابل، خیابان امام رضا، میدان کشوری
                </div>
                <div class="text-4xl order-1 text-yellow-400">
                    <i class="fa-solid fa-location-dot"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="block"
        style="background-image: url(../../../../assets/imgs/magicpattern-starry-night-1707228130178.png);">
        <div class="flex flex-row p-10  text-white">
            <div class="w-1/2 order-2 flex justify-center items-start">
                <img src="../../../../assets/imgs/Startup life-amico.svg"
                    class="w-3/4" alt>
            </div>
            <div
                class="w-1/2 order-1 text-lg font-bold leading-10 flex items-center">
                <p>
                    یکی دیگر از مزایای شرکت در استارت آپ ویکند پیدا کردن دوستان
                    جدید
                    است. پیشرفت در یک فضای تک بُعدی کار سختی است. برنامه نویس
                    ها،
                    گرافیست ها، انیماتورها، بازاریاب ها، سرمایه گذارها و … زمانی
                    پیشرفت می کنند که در کنار هم باشند. بدون شک در طی این سه روز
                    با
                    افراد متعددی آشنا می شوید که می توانید روی کمکشان در ایده
                    های
                    بعدی، حساب باز کنید.
                </p>
            </div>
        </div>
        <div
            class="flex flex-row text-2xl text-white p-9 py-12 justify-center items-center leading-loose gap-4">
            <div class="w-1/2 flex flex-col justify-start gap-4">
                <div class=" h-full text-start flex justify-start gap-2">
                    <div class="order-2">
                        50000 تومان
                    </div>
                    <div class="text-2xl order-1 p-2 text-end place-self-start">
                        <i class="fa-solid fa-coins"></i>
                    </div>
                </div>
                <div
                    class=" justify-start text-xl leading-loose flex items-center gap-2 tracking-wider">
                    <div class="order-2">
                        زمان شروع:14/5/1402
                        <br>
                        زمان پایان:14/5/1402
                    </div>
                    <div class="text-2xl order-1 p-2 text-end place-self-start">
                        <i class="fa-regular fa-clock"></i>
                    </div>
                </div>
                <div class="text-start flex items-center justify-start gap-2">
                    <div class="order-2">
                        بابل، خیابان امام رضا، میدان کشوری
                    </div>
                    <div class="text-2xl p-2 text-end order-1 place-self-start">
                        <i class="fa-solid fa-location-dot"></i>
                    </div>
                </div>
            </div>
            <div class="w-1/2 flex flex-col">
                <div class="bg-indigo-800 text-white leading-8 p-10">
                    <div class="flex justify-start">
                        <div class="text-2xl font-extrabold py-8">
                            مخاطبین رویداد
                        </div>
                    </div>
                    <div class="text-right text-wrap leading-relaxed text-lg">
                        <div>
                            اگر به توسعه‌ی بک‌اند علاقه‌مندید، در انتخاب این
                            مسیر
                            آموزشی شک
                            نکنید. در این مسیر، ابتدا زبان پایتون را به‌عنوان یک
                            زبان
                            عام‌منظوره یاد می‌گیرید. در ادامه، فریم‌ورک جنگو و
                            زیر و
                            بم آن
                            را خواهید آموخت. در این مسیر، با اصول توسعه‌ی
                            نرم‌افزار
                            نیز آشنا
                            خواهید شد که از موارد مورد نیاز برای ورود به بازار
                            کار
                            هستند.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="w-26 relative bg-opacity-10">
            <img src="../../../../assets/imgs/wav" class=" h-1/2 w-full   "
                style="transform: scale(1,-1);" alt>
        </div> -->
    </div>
    <div class="flex flex-col bg-gray-900" style=" background-image: url(../../../../assets/imgs/pattern\(startup\).svg);background-attachment: fixed;background-repeat: no-repeat;background-position: center;">
        <div class="flex justify-start py-5 text-white">
            <p class="text-6xl font-extrabold">مدرسان دوره</p>
        </div>
        <div
            class="grid grid-cols-1 response-users gap-3 sm:gap-4 xl:gap-5 justify-items-center w-full m-auto my-16">
            <div *ngFor="let user of users">
                <app-card-user [user]="user"></app-card-user>
            </div>
        </div>
        <div class="flex justify-start py-5" style="background-image: url(); ">
            <p class="text-5xl font-bold text-white">حامیان دوره</p>
        </div>
        <div
            class="grid grid-cols-1 response-brand gap-2 xl:gap-5 justify-items-center w-full p-2 lg:p-5">
            <div *ngFor="let institute of institutes">
                <app-card-institute
                    [institute]="institute"></app-card-institute>
            </div>
        </div>
    </div>
</div>
