<div class="background-site font-site"
    style="background-image: url(../../../../assets/imgs/Innovation-bro.svg); background-repeat: no-repeat;background-position: center;background-attachment:fixed">
    <div class="flex flex-col  text-white pb-32 "
        style="background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,132,70,1) 95%);">
        <div class="pt-8 ">
            <p class="text-pretty text-7xl font-extrabold text-center">
                کافه نوآوری
            </p>
        </div>
        <div class="flex justify-center items-center ">
            <div class="w-1/3 order-2">
                <p class="text-xl text-center leading-loose">
                    کافه نوآوری در شرکت‌ها محیطی است که برای تشویق خلاقیت و
                    ایده‌پردازی، ارائه فرصت‌های آزاد برای تفکر آزاد و تبادل
                    ایده‌ها
                    ایجاد می‌شود.
                </p>
            </div>
            <div class="w-1/4 flex justify-center order-1">
                <img src="../../../../assets/imgs/Innovation-amico.svg" alt
                    class="rotate-6 w-80">
            </div>
            <div class="w-1/4 flex justify-center order-3">
                <img src="../../../../assets/imgs/cake pop-cuate (1).svg" alt
                    class="rotate-12 w-80">
            </div>
        </div>
    </div>
    <div class="grid lg:grid-cols-6 p-10 py-24 background-site">
        <div class="col-span-3 order-1 mx-3 grid justify-center items">
            <img class
                src="../../../../assets/imgs/digital-business-conference-flyer-design-template-5328947015bafd2306e7f33adbbbb3fa_screen(1).jpg"
                alt>
        </div>
        <div
            style="background-image: url(../../../../assets/imgs/Light\ bulb-bro.svg) ; background-repeat: no-repeat; opacity: 0.8; background-position: bottom; "
            class="col-span-3 px-10 mx-3 leading-10 text-lg font-bold">
            <p>این مفهوم معمولاً به منظور توسعه و پیشرفت فناوری، بهبود فرآیندها
                و محصولات، و جذب استعدادهای نوآور و خلاق در سازمان‌ها بکار
                می‌رود.

                کافه نوآوری می‌تواند از راهکارهای مختلفی مانند ایجاد فضای کار
                مشترک، ساماندهی جلسات ایده‌پردازی و همکاری تیمی، ارائه جوایز و
                حوافز برای ایده‌های نوآورانه، تسهیل فرآیندهای تجزیه و تحلیل
                ایده‌ها و تبدیل آنها به پروژه‌های عملی، و ایجاد ارتباطات بین
                بخش‌های مختلف سازمان انجام شود.</p>
        </div>
    </div>
    <div
        class="flex flex-row text-2xl bg-indigo-700 text-white p-9 py-12 justify-center items-center leading-loose gap-4"
        style>
        <div class="w-1/4 h-full text-start flex justify-center gap-2">
            <div class="order-2">
                50000 تومان
            </div>
            <div class="text-2xl order-1 p-2 text-end ">
                <i class="fa-solid fa-coins"></i>
            </div>
        </div>
        <div
            class="w-5/12 justify-center text-xl leading-loose flex items-center gap-2 tracking-wider">
            <div class="order-2">
                زمان شروع:14/5/1402
                <br>
                زمان پایان:14/5/1402
            </div>
            <div class="text-2xl order-1 p-2 text-end">
                <i class="fa-regular fa-clock"></i>
            </div>
        </div>
        <div class="w-1/3 text-start flex items-center justify-center gap-2">
            <div class="order-2">
                بابل، خیابان امام رضا، میدان کشوری
            </div>
            <div class="text-2xl p-2 text-end order-1">
                <i class="fa-solid fa-location-dot"></i>
            </div>
        </div>
    </div>
    <div class="bg-indigo-700 text-white leading-8 p-10">
        <div class="flex justify-start">
            <div class="text-3xl font-extrabold py-8">
                مخاطبین رویداد
            </div>
        </div>
        <div class="text-right text-wrap">
            <div>
                اگر به توسعه‌ی بک‌اند علاقه‌مندید، در انتخاب این مسیر آموزشی شک
                نکنید. در این مسیر، ابتدا زبان پایتون را به‌عنوان یک زبان
                عام‌منظوره یاد می‌گیرید. در ادامه، فریم‌ورک جنگو و زیر و بم آن
                را خواهید آموخت. در این مسیر، با اصول توسعه‌ی نرم‌افزار نیز آشنا
                خواهید شد که از موارد مورد نیاز برای ورود به بازار کار هستند.
            </div>
        </div>
    </div>
    <div class="flex flex-col justify-center">
        <div class=" justify-center flex">
            <img class="w-full " style="transform: scale(1,-1);"
                src="../../../../assets/imgs/wave-haikei (2)-cropped.svg" alt>
        </div>
        <div class="flex justify-start py-5">
            <p class="text-6xl font-extrabold">مدرسان دوره</p>
        </div>
        <div
            class="grid grid-cols-1 response-users gap-3 sm:gap-4 xl:gap-5 justify-items-center w-full m-auto my-20">
            <div *ngFor="let user of users">
                <app-card-user [user]="user"></app-card-user>
            </div>
        </div>
    </div>
    <div class="flex flex-col py-8">
        <div class="flex justify-start py-5" style="background-image: url(); ">
            <p class="text-5xl font-bold">حامیان دوره</p>
        </div>
        <div
            class="grid grid-cols-1 response-brand gap-2 xl:gap-5 justify-items-center w-full p-2 lg:p-5">
            <div *ngFor="let institute of institutes">
                <app-card-institute
                    [institute]="institute"></app-card-institute>
            </div>
        </div>
    </div>
</div>