@media screen and (min-width: 400px) {
    .response-users {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (min-width: 760px) {
    .response-users {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media screen and (min-width: 1024px) {
    .response-users {
        grid-template-columns: repeat(4, 1fr);
    }
}
@media screen and (min-width: 1300px) {
    .response-users {
        grid-template-columns: repeat(5, 1fr);
    }
}