<div class="backgroud-site font-site">
    <div class=" bg-black"
        style=" background-image: url(../../../../assets/imgs/paattern\(meeting\).svg); background-attachment: fixed;
   ">
        <div class="py-8 px-10  ">
            <div class="flex flex-row py-10 bg-slate-300 pb-24">
                <div class="flex justify-center w-2/5">
                    <img class="w-80 -rotate-6"
                        src="../../../../assets/imgs/Standup meeting-pana (1).svg"
                        alt>
                </div>
                <div class="w-3/5 px-5 py-12  ">
                    <p class="text-4xl font-semibold py-4">
                        نشست تخصصی
                    </p>
                    <p class="text-lg font-bold text-wrap leading-loose">
                        میتوان گفت شورای امور اقتصادی و مالی، گسترده ترین نهاد
                        تصمیم
                        گیری مالی منطقه یورو است. این شورا سیاست های اقتصادی 28
                        کشور
                        عضو را هماهنگ می کند و ابتکارات و تصمیمات آنها می تواند
                        تأثیر گسترده ای بر سلامت اقتصادی منطقه یورو داشته باشد،
                        بنابراین میتواند برای معامله گران مهم باشد.
                    </p>
                </div>
            </div>
            <div
                class="relative -top-20 border-2 border-gray-500 backdrop-blur-sm p-12 mx-10 rounded-md shadow-gray-400 shadow-md ">
                <div class="flex flex-row">
                    <div class="w-1/2">
                        <img
                            src="../../../../assets/imgs/digital-business-conference-flyer-design-template-5328947015bafd2306e7f33adbbbb3fa_screen(1).jpg"
                            alt>
                    </div>
                    <div
                        class="w-1/2 flex flex-col text-2xl text-yellow-300 p-9 py-12 justify-center items-start leading-loose gap-4"
                        style>
                        <div
                            class="  text-start flex justify-center gap-2">
                            <div class="order-2">
                                50000 تومان
                            </div>
                            <div
                                class="text-2xl order-1 p-2 text-end self-start">
                                <i class="fa-solid fa-coins"></i>
                            </div>
                        </div>
                        <div
                            class="justify-center text-xl leading-loose flex items-center gap-2 tracking-wider">
                            <div class="order-2">
                                زمان شروع:14/5/1402
                                <br>
                                زمان پایان:14/5/1402
                            </div>
                            <div
                                class="text-2xl order-1 p-2 text-end self-start">
                                <i class="fa-regular fa-clock"></i>
                            </div>
                        </div>
                        <div
                            class="text-start flex items-center justify-center gap-2">
                            <div class="order-2">
                                بابل، خیابان امام رضا، میدان کشوری
                                بابل، خیابان امام رضا، میدان کشوری
                                بابل، خیابان امام رضا، میدان کشوری
                            </div>
                            <div
                                class="text-2xl p-2 text-end order-1 self-start">
                                <i class="fa-solid fa-location-dot"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="flex flex-col bg-zinc-700 text-white p-10 gap-4">
        <div
            class="flex justify-start items-center font-extrabold text-4xl w-full">
            توضیحات
        </div>
        <div class="flex">
            <p class="text-lg font-bold text-wrap leading-10">
                میتوان گفت شورای امور اقتصادی و مالی، گسترده ترین نهاد
                تصمیم
                گیری مالی منطقه یورو است. این شورا سیاست های اقتصادی 28
                کشور
                عضو را هماهنگ می کند و ابتکارات و تصمیمات آنها می تواند
                تأثیر گسترده ای بر سلامت اقتصادی منطقه یورو داشته باشد،
                بنابراین میتواند برای معامله گران مهم باشد.
                میتوان گفت شورای امور اقتصادی و مالی، گسترده ترین نهاد
                تصمیم
                گیری مالی منطقه یورو است. این شورا سیاست های اقتصادی 28
                کشور
                عضو را هماهنگ می کند و ابتکارات و تصمیمات آنها می تواند
                تأثیر گسترده ای بر سلامت اقتصادی منطقه یورو داشته باشد،
                بنابراین میتواند برای معامله گران مهم باشد.
                میتوان گفت شورای امور اقتصادی و مالی، گسترده ترین نهاد
                تصمیم
                گیری مالی منطقه یورو است. این شورا سیاست های اقتصادی 28
                کشور
                عضو را هماهنگ می کند و ابتکارات و تصمیمات آنها می تواند
                تأثیر گسترده ای بر سلامت اقتصادی منطقه یورو داشته باشد،
                بنابراین میتواند برای معامله گران مهم باشد.
                میتوان گفت شورای امور اقتصادی و مالی، گسترده ترین نهاد
                تصمیم
                گیری مالی منطقه یورو است. این شورا سیاست های اقتصادی 28
                کشور
                عضو را هماهنگ می کند و ابتکارات و تصمیمات آنها می تواند
                تأثیر گسترده ای بر سلامت اقتصادی منطقه یورو داشته باشد،
                بنابراین میتواند برای معامله گران مهم باشد.
            </p>
        </div>
    </div>
    <div class="flex flex-col bg-gray-900" style=" background-image: url(../../../../assets/imgs/pattern\(startup\).svg);background-attachment: fixed;background-repeat: no-repeat;background-position: center;">
        <div class="flex justify-start py-5 text-white">
            <p class="text-6xl font-extrabold">مدرسان دوره</p>
        </div>
        <div
            class="grid grid-cols-1 response-users gap-3 sm:gap-4 xl:gap-5 justify-items-center w-full m-auto my-16">
            <div *ngFor="let user of users">
                <app-card-user [user]="user"></app-card-user>
            </div>
        </div>
        <div class="flex justify-start py-5" style="background-image: url(); ">
            <p class="text-5xl font-bold text-white">حامیان دوره</p>
        </div>
        <div
            class="grid grid-cols-1 response-brand gap-2 xl:gap-5 justify-items-center w-full p-2 lg:p-5">
            <div *ngFor="let institute of institutes">
                <app-card-institute
                    [institute]="institute"></app-card-institute>
            </div>
        </div>
    </div>
</div>