.bg-meeting{
    background-image: url('../../../../assets/imgs/paattern-meeting.svg');
    background-attachment: fixed;background-repeat: no-repeat;
    background-position: center;
}
.rotate-img{
    transform: scale(1,-1);
}