<div class="">
    <div class="m-20 font-site  ">
        <div class="flex flex-row py-10 bg-slate-300">
            <div class="flex justify-center w-2/5">
                <img class="w-80 -rotate-6"
                    src="../../../../assets/imgs/Standup meeting-pana (1).svg" alt>
            </div>
            <div class="w-3/5 px-5 py-12 font-bold text-lg">
                <p>
                    میتوان گفت شورای امور اقتصادی و مالی، گسترده ترین نهاد تصمیم گیری مالی منطقه یورو است. این شورا سیاست های اقتصادی 28 کشور عضو را هماهنگ می کند و ابتکارات و تصمیمات آنها می تواند تأثیر گسترده ای بر سلامت اقتصادی منطقه یورو داشته باشد، بنابراین میتواند برای معامله گران مهم باشد.
                </p>
            </div>
        </div>
        <div class="relative -top-9 bg-red-300 p-16 mx-10">
            <p class="  ">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellat, sit. Eos necessitatibus incidunt facere voluptatem soluta nemo quasi, atque nihil corporis libero voluptas, totam itaque magni. Eligendi soluta dignissimos vel.
            </p>
        </div>
    </div>
</div>