<div class="flex flex-col w-full lg:w-2/5">
    <div
        class="background-white shadow-lg hover:shadow-xl rounded-lg mb-6 p-5 gap-4 h-auto w-full lgw-1/2 flex flex-col justify-start">
        <div class="flex flex-row  justify-start">
            <div class=" order-2 p-2 items-center">
                <div class="flex flex-col">
                    <div class="pb-3">
                        علمی و پژوهشی
                    </div>
                    <div class="pb-3">
                        مدیریت
                    </div>
                    <div class="pb-3">
                        مهندسی نرم افزار
                    </div>
                    <div class="pb-3">
                        مدیریت منابع انسانی
                    </div>
                </div>
            </div>
            <div class="text-2xl order-1 p-2 text-end">
                <i class="fa-solid fa-list-ul"></i>
            </div>
        </div>
    </div>
</div>