<div
    class=" w-auto h-auto shadow-lg p-3  border-slate-300 font-site background-test  hover:shadow-2xl">
    <div
        class="flex-col justify-center">
        <div
            class="rounded-lg flex md:flex-row flex-col  justify-center items-center md:items-start  p-4 md:p-3 lg:p-5">
            <div
                class="poster-event pb-5 md:pb-2 md:pr-5 w-full md:w-7/12 xl:w-3/5  h-full flex justify-center order-1 md:order-2">
                <img class="w-full rounded-xl hover:shadow-xl object-cover "
                    src="../assets/imgs/digital-business-conference-flyer-design-template-5328947015bafd2306e7f33adbbbb3fa_screen(1).jpg"
                    alt>
            </div>
            <div
                class=" background-glassy rounded-xl w-full md:w-5/12 xl:w-2/5 px-2 items-center p-3 order-2 md:order-1 text-zinc-800 text-lg lg:text-xl">
                <div class="flex justify-center ">
                    <div class=" text-2xl font-bold order-2 p-2">
                        عنوان
                    </div>
                </div>
                <div class="flex justify-start">
                    <div class="order-2 p-2">
                        رویداد ققنوس
                    </div>
                    <div class="text-2xl order-1 p-2">
                        <i class="fa-regular fa-circle-check"></i>
                    </div>
                </div>
                <hr
                    class="my-3 border-2 rounded-2xl border-gray-500 sm:mx-11 dark:border-gray-700 lg:my-4" />
                <div class="flex justify-center ">
                    <div class=" text-current font-bold order-2 p-2">
                        شعار رویداد
                    </div>
                </div>
                <div class="flex justify-start">
                    <div class=" order-2 p-2 ">
                        در این وبینار صفر تا صد تولید محتوا و کسب درآمد با هوش
                        مصنوعی را در قالب یک نقشۀ راه 5 مرحله‌ای و دقیق به شما
                        خواهیم گفت!
                    </div>
                    <div class="text-2xl order-1 p-2 text-end">
                        <i class="fa-regular fa-circle-check"></i>
                    </div>
                </div>
                <hr
                    class="my-3 border-2 rounded-2xl border-gray-500 sm:mx-11 dark:border-gray-700 lg:my-4" />
                <div class="flex justify-start">
                    <div class=" order-2 p-2 items-center">
                        آنلاین
                    </div>
                    <div class="text-2xl order-1 p-2 text-end">
                        <i class="fa-solid fa-location-dot"></i>
                    </div>
                </div>
                <hr
                    class="my-3 border-2 rounded-2xl border-gray-500 sm:mx-11 dark:border-gray-700 lg:my-4" />
                <div class="p-3 flex justify-center" [routerLink]="['']">
                    <button
                        class="bg-blue-600 rounded-xl p-3 px-5 text-blue-50 w-1/2">
                        ثبت نام
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="flex flex-col font-site items-center justify-center ">
    <div class="flex-col background-white shadow-lg w-max rounded-lg p-3 m-4 font-site">
        <div class="flex w-auto  justify-center ">
            <div class=" text-2xl font-bold order-2 p-2">
                مدرسان
            </div>
        </div>
        <div class="flex gap-36">
            <div *ngFor="let e of [].constructor(5);"
                class="inline justify-center items-center">
                <div class="text-2xl order-1 p-2 text-end w-32">
                    <img src="../../../assets/imgs/1701071988810.jpg" alt
                        class="rounded-full">
                </div>
                <div class="text-center text-xl order-2 p-2 ">
                    دکتر آقایی
                </div>
            </div>
        </div>
    </div>
    <div class="flex-col background-white shadow-lg w-max rounded-lg p-3 m-4">
        <div class="flex w-full justify-center ">
            <div class="text-xl lg:text-2xl font-bold order-2 p-2">
                سازمان ها
            </div>
        </div>
        <div class="flex flex-col lg:flex-row  gap-5 lg:gap-20">
            <div *ngFor="let e of [].constructor(5);"
                class="flex flex-col items-center justify-center">
                <div class="order-1 p-2 text-end w-16 lg:w-24 flex items-center">
                    <img src="../../../assets/imgs/afarine-img.png" alt
                        class="rounded-full">
                </div>
                <div class="text-center lg:text-xl text-md order-2 p-2 ">
                    شرکت آفرینه
                </div>
            </div>
        </div>
    </div>
    <div class="flex justify-start items-center">
        <div class="order-2 p-2 ">
            04/10/1402
        </div>
        <div class="text-2xl order-1 p-2 text-end">
            <i class="fa-regular fa-clock"></i>
        </div>
    </div>
    <div class="flex justify-start ">
        <div class=" order-2 p-2 items-center">
            200000 تومان
        </div>
        <div class="text-2xl order-1 p-2 text-end">
            <i class="fa-solid fa-coins"></i>
        </div>
    </div>
    <div class="flex justify-start ">
        <div class=" order-2 p-2 items-center">
            <ul>
                <li class="pb-3">
                    علمی و پژوهشی
                </li>
                <li class="pb-3">
                    مدیریت
                </li>
                <li class="pb-3">
                    مهندسی نرم افزار
                </li>
                <li class="pb-3">
                    مدیریت منابع انسانی
                </li>
            </ul>
        </div>
        <div class="text-2xl order-1 p-2 text-end">
            <i class="fa-solid fa-list-ul"></i>
        </div>
    </div>
</div>