<div
    class="rtl w-auto h-auto shadow-lg rounded-lg m-2 p-3 mx-3 xl:mx-20  background-white border-[0.08rem] border-slate-300 font-site  hover:shadow-2xl">
    <div class="flex-col justify-center">
        <div class="h-auto mb-6">
            <div class="text-center text-2xl lg:text-4xl  font-bold text-zinc-700 p-2">
                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ
            </div>
            <div class="text-wrap text-center py-3 font-bold text-zinc-600 p-2">
                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است
            </div>
        </div>
        <div class="w-full py-4">
            <!-- <img src="../../../assets/imgs/wave-haikei (2)-cropped.svg" alt=""> -->
        </div>
        <div class="flex md:flex-row flex-col  justify-center">
            <div class="w-full md:w-7/12 xl:w-1/2  h-full flex justify-center align-items-center order-1 md:order-2">
                <img class=" w-full rounded-xl hover:shadow-xl object-cover "
                    src="../assets/imgs/digital-business-conference-flyer-design-template-5328947015bafd2306e7f33adbbbb3fa_screen.jpg"
                    alt>
            </div>
            <div class="w-full md:w-5/12 xl:w-1/2 px-2 items-center my-10 order-2 md:order-1 text-zinc-600 text-lg lg:text-xl">
                <div class="flex justify-start">
                    <div class="order-2 p-2">
                        رویداد ققنوس
                    </div>
                    <div class="text-2xl order-1 p-2">
                        <i class="fa-regular fa-circle-check"></i>
                    </div>
                </div>
                <div class="flex justify-start">
                    <div class=" order-2 p-2 ">
                        در این وبینار صفر تا صد تولید محتوا و کسب درآمد با هوش مصنوعی را در قالب یک نقشۀ راه 5 مرحله‌ای و دقیق به شما خواهیم گفت!
                    </div>
                    <div class="text-2xl order-1 p-2 text-end">
                        <i class="fa-regular fa-circle-check"></i>
                    </div>
                </div>
                <hr class="my-3 border-2 rounded-2xl border-gray-500 sm:mx-11 dark:border-gray-700 lg:my-4" />
                <div class="flex justify-start items-center">
                    <div class=" order-2 p-2 ">
                        دکتر آقایی
                    </div>
                    <div class="text-2xl order-1 p-2 text-end w-24">
                        <img src="../../../assets/imgs/1701071988810.jpg" alt="" class="rounded-full">
                    </div>
                </div>
                <hr class="my-3 border-2 rounded-2xl border-gray-500 sm:mx-11 dark:border-gray-700 lg:my-4" />
                <div class="flex justify-start items-center">
                    <div class=" order-2 p-2 ">
                        شرکت آفرینه
                    </div>
                    <div class="text-2xl order-1 p-2 text-end w-24">
                        <img src="../../../assets/imgs/afarine-img.png" alt="" class="rounded-full">
                    </div>
                </div>
                <hr class="my-3 border-2 rounded-2xl border-gray-500 sm:mx-11 dark:border-gray-700 lg:my-4" />
                <div class="flex justify-start items-center">
                    <div class="order-2 p-2 ">
                        04/10/1402
                    </div>
                    <div class="text-2xl order-1 p-2 text-end">
                        <i class="fa-regular fa-clock"></i>
                    </div>
                </div>
                <hr class="my-3 border-2 rounded-2xl border-gray-500 sm:mx-11 dark:border-gray-700 lg:my-4" />
                <div class="flex justify-start ">
                    <div class=" order-2 p-2 items-center">
                        <ul>
                            <li class="pb-3">
                                علمی و پژوهشی 
                            </li>
                            <li class="pb-3">
                                مدیریت 
                            </li>
                            <li class="pb-3">
                                مهندسی نرم افزار 
                            </li>
                            <li class="pb-3">
                                مدیریت منابع انسانی 
                            </li>
                        </ul>
                    </div>
                    <div class="text-2xl order-1 p-2 text-end">
                        <i class="fa-solid fa-list-ul"></i>
                    </div>
                </div>
                <hr class="my-3 border-2 rounded-2xl border-gray-500 sm:mx-11 dark:border-gray-700 lg:my-4" />
                <div class="flex justify-start ">
                    <div class=" order-2 p-2 items-center">
                        200000 تومان
                    </div>
                    <div class="text-2xl order-1 p-2 text-end">
                        <i class="fa-solid fa-coins"></i>
                    </div>
                </div>
                <hr class="my-3 border-2 rounded-2xl border-gray-500 sm:mx-11 dark:border-gray-700 lg:my-4" />
                <div class="flex justify-start">
                    <div class=" order-2 p-2 items-center">
                        آنلاین
                    </div>
                    <div class="text-2xl order-1 p-2 text-end">
                        <i class="fa-solid fa-location-dot"></i>
                    </div>
                </div>
                <div class="p-3 flex justify-center" [routerLink]="['']">
                    <button class="bg-blue-600 rounded-xl p-3 px-5 text-blue-50 w-1/2">
                        ثبت نام 
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>