<footer class="text-white shadow background-footer font-site z-10 relative">
    <div class="w-full p-4 md:py-8">
        <div class="sm:flex sm:items-center max-w-screen-xl sm:justify-between">
            <a routerLink="./"
                class="flex items-center mb-4 sm:mb-0 space-x-3 rtl:space-x-reverse">
                <img src="../../../assets/imgs/afarine-img.png"
                    class="h-11 sm:h-12" alt="لگو آفرینه" />
                <span
                    class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">
                    آفرینه</span>
            </a>
            <ul
                class="flex flex-wrap items-center mb-6 text-sm font-medium  sm:mb-0 dark:text-gray-400">
                <li>
                    <a href="./consult" class="hover:hover:text-cyan-400 me-4 md:me-6">مشاوره</a>
                </li>
                <li>
                    <a href="./" class="hover:hover:text-cyan-400 me-4 md:me-6">معرفی
                        شرکت</a>
                </li>
                <li>
                    <a href="tel:09302010811" class="hover:text-cyan-400">ارتباط با ما</a>
                </li>
            </ul>
        </div>
        <div class=" ">
            <hr class="my-6 sm:mx-auto dark:border-gray-700 lg:my-8">
            <span class="block text-sm sm:text-center dark:text-gray-400">تمامی
                حقوق
                این سایت متعلق به شرکت «تعالی نوآوری آفرینه» می‌باشد.
            </span>
            <div
                class="flex flex-row justify-center items-center gap-5 py-3 ">
                <div>
                    <a target="_blank" class="w-9 flex"
                        href="https://ble.ir/afarine_ic"> <img
                            src="../../../assets/imgs/bale-color.svg" alt></a>
                </div>
                <div class>
                    <a target="_blank" href="https://eitaa.com/afarine_ic"
                        class="flex w-9"> <img
                            src="../../../assets/imgs/eitaa-icon-colorful.svg"
                            alt></a>
                </div>
                <div>
                    <a target="_blank"
                        href="https://www.linkedin.com/company/afarine-ic/"
                        class="flex w-9">
                        <img class
                            src="../../../assets/imgs/markup-cropped.svg" alt
                            class>
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>
