<div class="h-3/5">
<ul class="bg-green-400 p-3 m-3 w-1/2 flex">
    <li class="">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Obcaecati distinctio cum eum veritatis repellendus iusto ad corrupti? Totam nisi quia, tenetur quibusdam, ducimus ea reprehenderit atque consequuntur ipsa officia doloribus?
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Obcaecati distinctio cum eum veritatis repellendus iusto ad corrupti? Totam nisi quia, tenetur quibusdam, ducimus ea reprehenderit atque consequuntur ipsa officia doloribus?
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Obcaecati distinctio cum eum veritatis repellendus iusto ad corrupti? Totam nisi quia, tenetur quibusdam, ducimus ea reprehenderit atque consequuntur ipsa officia doloribus?
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Obcaecati distinctio cum eum veritatis repellendus iusto ad corrupti? Totam nisi quia, tenetur quibusdam, ducimus ea reprehenderit atque consequuntur ipsa officia doloribus?
    </li>
</ul>
</div>