<div *ngIf="loading">
    <app-loader></app-loader>
</div>
<div *ngIf="!loading" class="flex flex-col ">
    <div class="flex flex-col md:flex-row xl:px-16  py-8 px-4"
        style="background-color: #111722;">
        <div
            class="items-center justify-center md:w-1/2 md:order-2 hidden md:flex order-1">
            <!-- <img class="relative   z-0 w-[100%]" src="../../../assets/imgs/home-bg.svg" alt=""> -->
            <img class=" z-10 w-[90%]"
                src="../../../assets/imgs/Collab-bro (1).svg" alt>
        </div>
        <div
            class="md:w-1/2 flex flex-col gap-5 text-white order-2 md:order-1 items-center md:items-start justify-center z-10">
            <div
                class="flex flex-row text-5xl md:text-6xl font-bold py-5 justify-start items-center">
                <p class="text-amber-400">
                    آفرینه
                </p>
            </div>
            <div class="flex flex-row gap-4">
                <span class="md:text-xl text-lg p-4 rounded-lg"
                    style="background-color: #0c1018;">
                    رشد فردی
                </span>
                <span class="md:text-xl text-lg p-4 rounded-lg"
                    style="background-color: #0c1018;">
                    رشد کسب و کار
                </span>
            </div>
            <p
                class="text-lg leading-loose text-wrap items-center md:items-start justify-center text-center">
                در رویداد های ما شرکت کنید تا رستگار شوید و رستگار بمانید
            </p>
            <div
                class="flex flex-col md:flex-row justify-end gap-5 text-lg md:text-lg">
                <a routerLink="events">
                    <div
                        class="p-3 rounded-xl border-2 text-lg border-indigo-100 flex items-center justify-center">
                        شرکت در رویداد های ما
                    </div>
                </a>
                <div
                    class="p-3 rounded-xl border-2 text-lg border-indigo-100 flex items-center justify-center">
                    آشنایی بیشتر با شرکت
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="-mt-2 md:flex w-full md:-mt-24 z-0">
            <img class="w-full" src="../../../assets/imgs/wave-home.svg" alt>
        </div>
        <div class="flex flex-col md:flex-row p-5 md:p-10">
            <div
                class="md:w-1/2 flex flex-col justify-center items-start order-2">
                <p
                    class="py-5 text-2xl md:text-4xl font-extrabold text-gray-900">
                    درباره ما
                </p>
                <div class="text-wrap text-justify text-lg md:text-xl">
                    <p class=" text-gray-500 font-bold leading-8 ">
                        شخص کارآفرین فردی است که متعهد می‌ شود مخاطره‌ های یک
                        فعالیت
                        اقتصادی را سازمان‌ دهی، اداره و مدیریت کند. این نوآوری
                        می
                        ‌تواند
                        در ارائه ی یک محصول جدید یا ارائه ی یک خدمت نو در طراحی
                        یک
                        فرآیند نوین و یا نوآوری در رضایت مشتری و… باشد.
                    </p>
                </div>
            </div>
            <div class="md:w-1/2 order-1 flex items-center justify-center">
                <img class="w-[70%]"
                    src="../../../assets/imgs/Website Creator-bro.svg" alt>
            </div>
        </div>
    </div>
    <div>
        <div class=" flex w-full -mt-8 md:-mt-20 z-0">
            <img class="w-full" src="../../../assets/imgs/svg-wave.svg" alt>
        </div>
        <div class="flex flex-col md:flex-row p-5 md:p-10 bg-white">
            <div
                class="md:w-1/2 flex flex-col justify-start items-center md:items-start order-2 md:order-1">
                <!-- <p
                    class="py-5 text-2xl md:text-4xl font-extrabold ">

                </p> -->
                <div
                    class="text-wrap text-justify text-lg md:text-xl pb-5 text-gray-900">
                    <p class="  font-bold leading-8">
                        نیروی انسانی خود را با ما ارزیابی کنید
                    </p>
                </div>
                <div class="text-wrap text-justify text-lg pb-5 text-gray-600">
                    <p class="font-bold leading-8">
                        با استفاده از این ابزار منابع انسانی موردنظر خود را
                        شناسایی کرده، تحلیل کنید و در به کارگیری آنها از این
                        تحلیل ها استفاده کنید این ابزار به شما امکان می دهد تا
                        بهره وری خود را در استفاده از سرمایه انسانی افزایش دهید
                    </p>
                </div>
                <a href="#" target="_blank"
                    class="flex justify-end  md:justify-end w-full">
                    <div class="text-xl p-3 rounded-lg"
                        style="background-color: #d8deeb;">
                        ارزیابی توانمندسازی ستاد نانو
                    </div>
                </a>
            </div>
            <div class="md:w-1/2 order-1 md:order-2 flex justify-center">
                <img class="w-[60%]" src="../../../assets/imgs/analysis.svg"
                    alt>
            </div>
        </div>
        <div class="flex w-full z-0 ">
            <img class="w-full" src="../../../assets/imgs/svg-wave-1.svg" alt>
        </div>
    </div>
</div>