.bg-confer {
    background-image: url("../../../../assets/imgs/bg-confer-1.svg");
}

// svg {
//     animation: spin 30s linear infinite;
// }
// @keyframes spin {
//     from {
//         transform: rotate(0deg);
//     }
//     to {
//         transform: rotate(360deg);
//     }
// }

.bg-title {
    background: rgb(255, 255, 255);
    background: linear-gradient(315deg, rgba(255, 255, 255, 1) 22%, rgba(4, 95, 173, 1) 100%);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}
.custom-shape-divider-bottom-1707913104 {
    // position: absolute;
    // bottom: 0;
    // left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}
.custom-shape-divider-bottom-1707913104 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 50px;
}
.custom-shape-divider-bottom-1707913104:last-child svg {
    rotate: 180deg;
    height: 40px;
}
.custom-shape-divider-bottom-1707913104 .shape-fill {
    fill: rgba(6, 22, 39, 0.911);
}
