<div>
    <app-loader *ngIf="!loading"></app-loader>
</div>
<div *ngIf="loading" class="font-site bg-confer">
    <div class="flex flex-col z-[11]">
        <div class="p-3 md:p-16 block">
            <div class="flex w-full h-full">
                <img class="w-full rounded-t-xl"
                    [src]="event.conference.poster"
                    alt>
            </div>
            <div
                class="relative -top-5 md:-top-20 rounded-b-xl shadow-gray-200 transition-shadow bg-title">
                <div
                    class="flex flex-row text-2xl p-6 md:p-9 md:py-12 backdrop-blur-lg  justify-center items-center leading-loose gap-4">
                    <div class="md:w-2/5 md:flex hidden">
                        <img src="../../../../assets/imgs/office.svg" alt>
                    </div>
                    <div class="md:w-3/5 flex flex-col text-gray-800 ">
                        <div style="backdrop-filter: blur(20px);
                            background-color: rgba(255, 255, 255, 0.296)"
                            class=" rounded-xl leading-8 p-6 md:p-10">
                            <div class="flex justify-start">
                                <div
                                    class="text-2xl font-extrabold md:py-8 py-4">
                                    {{ event.conference.title }}
                                </div>
                            </div>
                            <div
                                class="text-right text-wrap leading-relaxed text-lg">
                                <div>
                                    {{ event.conference.slogan}}
                                </div>
                            </div>
                            <!-- <div
                                class="text-right text-wrap leading-relaxed text-xl font-extrabold py-5">
                                <div>
                                    توضیحات دوره
                                </div>
                            </div>
                            <div
                                class="text-right text-wrap leading-relaxed text-lg">
                                <div>
                                    {{ event.conference.description}}
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="py-5">
                <div style="background-color: rgb(255 ,255 ,255 ,84%);"
                    class=" shadow-gray-200 transition-shadow border-2 rounded-lg leading-8 p-5 py-7 md:p-10 w-full flex md:flex-row flex-col">
                    <div class="flex flex-col md:w-1/2 order-2 md:order-1">
                        <div class="flex justify-center py-7 text-gray-900 ">
                            <div class="text-2xl md:text-4xl font-bold">
                                توضیحات رویداد
                            </div>
                        </div>
                        <div class="text-wrap leading-9 text-lg text-justify">
                            {{ event.conference.description }}
                        </div>
                    </div>
                    <div
                        class="md:w-1/2 md:order-2 order-1 flex items-center justify-center">
                        <img class="w-4/5"
                            src="../../../../assets/imgs/finding.svg" alt>
                    </div>
                </div>
            </div>
        </div>

        <!-- <div class="w-full custom-shape-divider-bottom-1707913104 -mb-1">
            <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 1200 120" preserveAspectRatio="none">
                <path
                    d="M0,0V7.23C0,65.52,268.63,112.77,600,112.77S1200,65.52,1200,7.23V0Z"
                    class="shape-fill"></path>
            </svg>
        </div> -->
        <div class="bg-slate-900 text-white opacity-90 py-16">
            <div
                class="w-full flex flex-col md:flex-row justify-around gap-5 md:gap-3 text-xl items-start pr-3 md:pr-0 md:items-center">
                <div class="flex justify-center py-7  ">
                    <div class="text-2xl md:text-4xl font-bold">
                        جزئیات رویداد
                    </div>
                </div>
                <div
                    class=" h-full text-start flex items-center gap-2">
                    <div class="order-2">
                        {{
                        changeSerice.formatPriceToPersian(event.conference.price)
                        }}
                    </div>
                    <div
                        class="text-2xl order-1 p-2 text-end place-self-start">
                        <i class="fa-solid fa-coins"></i>
                    </div>
                </div>
                <div
                    class=" justify-start  leading-loose flex items-center gap-2 tracking-wider">
                    <div class="order-2">
                        شروع رویداد: {{
                        changeSerice.changeJalaiDate(event.conference.start_date)[0]
                        }}<br>ساعت: {{
                        changeSerice.changeJalaiDate(event.conference.start_date)[1]
                        }}
                    </div>
                    <div
                        class="text-2xl order-1 p-2 text-end place-self-start">
                        <i class="fa-regular fa-clock"></i>
                    </div>
                </div>
                <div
                    class="text-start flex items-center justify-start gap-2">
                    <div class="order-2">
                        {{event.conference.location}}
                    </div>
                    <div
                        class="text-2xl p-2 text-end order-1 place-self-start">
                        <i class="fa-solid fa-location-dot"></i>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="w-full custom-shape-divider-bottom-1707913104 z-10 -mt-1">
            <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 1200 120" preserveAspectRatio="none">
                <path
                    d="M0,0V7.23C0,65.52,268.63,112.77,600,112.77S1200,65.52,1200,7.23V0Z"
                    class="shape-fill"></path>
            </svg>
        </div> -->
    </div>
    <div class="flex flex-col  py-7 z-0">
        <div class>

            <div class="flex justify-center py-5 text-yellow-400 ">
                <p class="text-4xl md:text-6xl font-extrabold">مدرسان دوره</p>
            </div>
            <div 
                class="flex gap-3 sm:gap-3  xl:px-24 justify-items-center p-5 self-center ">
                <swiper *ngFor="let user of users" [config]="swiperConfig" class="w-full">
                    <ng-template swiperSlide class="w-full">
                        <app-card-user  [user]="user" 
                        [bgstyle]="'bg-white bg-opacity-70 '"
                        [rolestyle]="'text-gray-900'"
                        [textstyle]="'text-gray-800'"
                        [user]="user"></app-card-user>
                    </ng-template>
                </swiper>
            </div>
        </div>
        <div class>

            <div class="flex justify-center py-5">
                <p class="text-3xl md:text-5xl font-bold text-yellow-400">شرکت
                    برگزار کننده</p>
            </div>
            <div
                class="grid grid-cols-1 response-brand gap-2 xl:gap-5 justify-items-center w-full p-2 lg:p-5">
                <div *ngFor="let institute of [institutes]">
                    <app-card-institute
                        [textstyle]="'text-gray-700 text-lg font-black'"
                        [bgstyle]="'bg-white bg-opacity-70 '"
                        [institute]="institute"></app-card-institute>
                </div>
            </div>
        </div>
        <div class>

            <div class="flex justify-center py-5">
                <p class="text-3xl md:text-5xl font-bold text-yellow-400">حامیان
                    دوره</p>
            </div>
            <div
                class="grid grid-cols-1 response-brand gap-2 xl:gap-5 justify-items-center w-full p-2 lg:p-5">
                <div *ngFor="let institute of event.conference.supporter">
                    <app-card-institute
                        [textstyle]="'text-gray-700 text-lg font-black'"
                        [bgstyle]="'bg-white bg-opacity-70 '"
                        [institute]="institute"></app-card-institute>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="flex">
    <swiper [config]="swiperConfig">
        <ng-template class="p-5" swiperSlide>
            <img src="../../../../assets/imgs/wp12154950.jpg" class="rounded-2xl" alt>
            <p class="font-site p-5">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای 
            </p>
        </ng-template>
        <ng-template class="p-5" swiperSlide>
            <img src="../../../../assets/imgs/wp12154950.jpg" class="rounded-2xl" alt>
            <p class="font-site p-5">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای 
            </p>
        </ng-template>
        <ng-template class="p-5" swiperSlide>
            <img src="../../../../assets/imgs/wp12154950.jpg" class="rounded-2xl" alt>
            <p class="font-site p-5">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای 
            </p>
        </ng-template>
        <ng-template class="p-5" swiperSlide>
            <img src="../../../../assets/imgs/wp12154950.jpg" class="rounded-2xl" alt>
            <p class="font-site p-5">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای 
            </p>
        </ng-template>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </swiper>
</div>