<div class="font-site " style="background-image: url(../../../../assets/imgs/bg-confer-1.svg);">
    <div class="flex flex-col z-[11]">
        <div class="p-3 md:p-16 block">
            <div class="flex w-full h-full">
                <img class="w-full rounded-t-xl"
                    src="../../../../assets/imgs/digital-business-conference-flyer-design-template-5328947015bafd2306e7f33adbbbb3fa_screen(1).jpg"
                    alt>
            </div>
            <div
                class="relative -top-20 shadow-md rounded-b-xl  hover:shadow-lg shadow-gray-200 transition-shadow"
                style="background: rgb(255,255,255);
            background: linear-gradient(315deg, rgba(255,255,255,1) 22%, rgba(4,95,173,1) 100%);-webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px); ">
                <div
                    class="flex flex-row text-2xl p-9 py-12 backdrop-blur-lg  justify-center items-center leading-loose gap-4">
                    <div class="w-2/5">
                        <img src="../../../../assets/imgs/office.svg" alt>
                    </div>
                    <div class="w-3/5 flex flex-col text-gray-800">
                        <div style="backdrop-filter: blur(20px);
                            background-color: rgba(255, 255, 255, 0.296)"
                            class=" rounded-xl leading-8 p-10">
                            <div class="flex justify-start">
                                <div class="text-2xl font-extrabold py-8">
                                    کنفرانس بین المللی نوآوری و کارآفرینی
                                </div>
                            </div>
                            <div
                                class="text-right text-wrap leading-relaxed text-lg">
                                <div>
                                    اگر به توسعه‌ی بک‌اند علاقه‌مندید، در
                                    انتخاب این
                                    مسیر
                                    آموزشی شک
                                    نکنید. در این مسیر، ابتدا زبان پایتون را
                                    به‌عنوان یک
                                    زبان
                                    عام‌منظوره یاد می‌گیرید. در ادامه،
                                    فریم‌ورک جنگو و
                                    زیر و
                                    بم آن
                                    را خواهید آموخت. در این مسیر، با اصول
                                    توسعه‌ی
                                    نرم‌افزار
                                    نیز آشنا
                                    خواهید شد که از موارد مورد نیاز برای
                                    ورود به بازار
                                    کار
                                    هستند.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="py-5">
                <div style="background-color: rgb(238, 247, 255);"
                    class="bg-gray-500  shadow-md hover:shadow-lg shadow-gray-200 transition-shadow border-2 rounded-lg leading-8 p-10 w-full flex flex-row">
                    <div class="flex flex-col w-1/2">
                        <div class="flex justify-center py-5 text-gray-900">
                            <div class="text-4xl font-site-b py-8">
                                مخاطبین رویداد
                            </div>
                        </div>
                        <div class="text-right text-wrap leading-9 text-lg ">
                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از
                            صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها
                            و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که
                            لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و
                            کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می
                            باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و
                            آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با
                            نرم افزارها شناخت بیشتری را برای طراحان رایانه ای
                            علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی
                            ایجاد کرد. در این صورت می توان امید داشت که تمام و
                            دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به
                            پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای
                            اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی
                            اساسا مورد استفاده قرار گیرد.
                        </div>
                    </div>
                    <div class="w-1/2">
                        <img src="../../../../assets/imgs/finding.svg" alt>
                    </div>
                </div>
            </div>
        </div>

        <div class="w-full custom-shape-divider-bottom-1707913104">
            <!-- <img src="../../../../assets/imgs/wave-haikei (3).svg" alt=""> -->
            <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 1200 120" preserveAspectRatio="none">
                <path
                    d="M0,0V7.23C0,65.52,268.63,112.77,600,112.77S1200,65.52,1200,7.23V0Z"
                    class="shape-fill"></path>
            </svg>
        </div>
        <div class="bg-emerald-400 py-10">
            <div
                class="w-full flex flex-col md:flex-row justify-around gap-5 md:gap-3 text-xl items-start pr-10 md:pr-0 md:items-center">
                <div
                    class=" h-full text-start flex items-center gap-2">
                    <div class="order-2">
                        ۵۰,۰۰۰ تومان
                    </div>
                    <div
                        class="text-2xl order-1 p-2 text-end place-self-start">
                        <i class="fa-solid fa-coins"></i>
                    </div>
                </div>
                <div
                    class=" justify-start  leading-loose flex items-center gap-2 tracking-wider">
                    <div class="order-2">
                        زمان شروع: ۱۴۰۲/۱۱/۲۲
                        <br>
                        زمان پایان: ۱۴۰۲/۱۱/۲۳
                    </div>
                    <div
                        class="text-2xl order-1 p-2 text-end place-self-start">
                        <i class="fa-regular fa-clock"></i>
                    </div>
                </div>
                <div
                    class="text-start flex items-center justify-start gap-2">
                    <div class="order-2">
                        بابل، خیابان امام رضا، میدان کشوری
                    </div>
                    <div
                        class="text-2xl p-2 text-end order-1 place-self-start">
                        <i class="fa-solid fa-location-dot"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="w-full custom-shape-divider-bottom-1707913104 z-10 -mb-10">
            <!-- <img src="../../../../assets/imgs/wave-haikei (3).svg" alt=""> -->
            <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 1200 120" preserveAspectRatio="none">
                <path
                    d="M0,0V7.23C0,65.52,268.63,112.77,600,112.77S1200,65.52,1200,7.23V0Z"
                    class="shape-fill"></path>
            </svg>
        </div>
    </div>
    <div class="flex flex-col  py-10 z-0">
        <div class="">
            
            <div class="flex justify-center py-5 text-yellow-400 ">
                <p class="text-6xl font-extrabold">مدرسان دوره</p>
            </div>
            <div
                class=" grid grid-cols-1 response-users gap-3 sm:gap-3  px-24 justify-items-center p-5 self-center ">
                <div *ngFor="let user of users">
                    <app-card-user [bgstyle]="'bg-white bg-opacity-70 '" [rolestyle]="'text-gray-900'" [textstyle]="'text-gray-800'" [user]="user"></app-card-user>
                </div>
            </div>
        </div>
        <div class="">

            <div class="flex justify-center py-5">
                <p class="text-5xl font-bold text-yellow-400">حامیان دوره</p>
            </div>
            <div
                class="grid grid-cols-1 response-brand gap-2 xl:gap-5 justify-items-center w-full p-2 lg:p-5">
                <div *ngFor="let institute of institutes">
                    <app-card-institute [textstyle]="'text-gray-700 text-lg font-black'" [bgstyle]="'bg-white bg-opacity-70 '"
                        [institute]="institute"></app-card-institute>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <div class="w-40" style="color: #2555ae">
    <svg xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 250 250">
        <polygon fill="#2555ae"
            points="124 1 247.64 90.83 200.41 236.17 48.41 236.17 0.36 90.83" />
    </svg>
</div> -->