<!-- <div *ngIf="loading">
    <app-loader></app-loader>
</div> -->
<div class="font-site background-site pt-2">
    <div
        class="shadow-lg p-3 rounded-2xl flex-col justify-start border-2 mx-5 my-4">
        <p class="text-2xl text-gray-600 font-extrabold py-5">
            رویدادهای نوآوری؛
        </p>
        <p
            class="text-start text-gray-700 font-extrabold text-xl leading-loose">
            رویدادهایی
            در
            حوزه‌ی کارآفرینی با موضوع نوآوری در آفرینه، در رویداد مورد
            علاقه‌تان
            ثبت‌نام کنید.
        </p>
    </div>
    <div class="flex flex-col lg:flex-row  pb-10">
        <div class="flex lg:w-3/4 order-2">
            <div class="flex w-full h-auto">
                <div *ngIf="loaded"
                    class="grid event-grid w-full h-full xl:m-4">
                    <div *ngFor="let event of events;let i =index"
                        class=" shadow-lg hover:shadow-2xl  rounded-xl  m-3"
                        [ngStyle]="{'background-color': loaded ? '#232323' : 'initial' }"
                        [routerLink]="[event.type_name ,event.id]"
                        appScrollToTop>
                        <div class=" transition-card">
                            <div
                                class="image-card justify-items-center items-center div-img-card rounded-md">
                                <img [src]="event.poster"
                                    alt="event"
                                    class="relative w-full">
                            </div>
                            <div
                                class="p-card relative backdrop-blur-2xl border-2 border-yellow-400 bg-opacity-30 opacity-90 m-3 p-3 rounded-lg leading-loose text-white">
                                <div
                                    class="text-md bg-yellow-300 text-black my-2 px-1 rounded-md">
                                    شروع رویداد: {{
                                    changeJalaiDate(event.start_date)[0]
                                    }}<br>ساعت: {{
                                    changeJalaiDate(event.start_date)[1] }}
                                </div>
                                <div class="text-lg font-bold">
                                    {{event.title}}
                                </div>
                                <div class="text-md ">
                                    {{event.location}}
                                </div>
                                <div class="text-md  ">
                                    {{getInstitute(event.id) | async}}
                                </div>
                                <div class="text-md" [class]="bgStyle">
                                    {{ getTranslateEvent(event.type_name) }}
                                </div>
                                <div
                                    class="text-md text-end text-yellow-400">
                                    {{formatPriceToPersian(event.price)}}
                                    تومان
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid event-grid w-full h-full xl:m-4"
                    *ngIf="!loaded">
                    <div *ngFor="let i of [].constructor(3);"
                        class="p-2  shadow-lg hover:shadow-2xl rounded-xl  m-3">
                        <div
                            class="image-card justify-items-center items-center div-img-card rounded-md">
                            <ngx-skeleton-loader *ngIf="!loaded "
                                count="1"
                                appearance="line"
                                [theme]="{ height:'170px',
                        'background-color':'rgb(150, 150, 160)' }"
                                animation="dark">

                            </ngx-skeleton-loader>
                        </div>
                        <ngx-skeleton-loader *ngIf="!loaded "
                            appearance="line" [theme]="{
                            'background-color':'rgb(150, 150, 160)' }"
                            animation="dark">
                        </ngx-skeleton-loader>
                        <ngx-skeleton-loader *ngIf="!loaded "
                            appearance="line" [theme]="{
                            'background-color':'rgb(150, 150, 160)', width:'70%'}"
                            animation="dark">
                        </ngx-skeleton-loader>
                        <ngx-skeleton-loader *ngIf="!loaded "
                            appearance="line" [theme]="{
                            'background-color':'rgb(150, 150, 160)' ,width:'50%'}"
                            animation="dark">
                        </ngx-skeleton-loader>
                        <ngx-skeleton-loader class="block"
                            *ngIf="!loaded "
                            appearance="line" [theme]="{
                            'background-color':'rgb(150, 150, 160)' ,width:'50%'}"
                            animation="dark">
                        </ngx-skeleton-loader>
                    </div>
                </div>
            </div>
        </div>
        <div class="max-h-full lg:w-1/4 px-2">
            <div
                style="background-color: #232323;"
                class="sticky top-[80px] left-0 w-full flex flex-col text-white rounded-2xl border-2 border-yellow-400 p-4 shadow-lg backdrop-brightness-125 my-3 xl:my-7 gap-2">
                <div class="flex justify-center text-md font-extrabold">
                    <p>صفحه فیلتر</p>
                </div>
                <div class="flex gap-3 items-center">
                    <input class="rounded-lg" type="checkbox">
                    <label>کارگاه</label>
                </div>
                <div class="flex gap-3 items-center">
                    <input class="rounded-lg" type="checkbox">
                    <label>استارتاپ ویکند</label>
                </div>
                <div class="flex gap-3 items-center">
                    <input class="rounded-lg" type="checkbox">
                    <label>نشست</label>
                </div>
                <div class="flex gap-3 items-center">
                    <input class="rounded-lg" type="checkbox">
                    <label>کافه نوآوری</label>
                </div>
                <div class="flex gap-3 items-center">
                    <input class="rounded-lg" type="checkbox">
                    <label>همایش</label>
                </div>
                <div class="flex gap-3 items-center">
                    <input class="rounded-lg" type="checkbox">
                    <label>جذب سرمایه</label>
                </div>
                <!-- <input class="text-black" type="text" #inputFilter #mouse>
                <button type="submit" (click)="log()">ok</button> -->
            </div>
        </div>
    </div>
</div>
