.div-img-card{
    overflow: hidden;
    transition-property: all;
    transition-duration: 900ms;
}
.div-img-card img{
    transition: transform 0.4s ease-in-out;
}
.transition-card:hover:hover img{
    transition-duration: 500ms;
    transform: scale(1.1);
}
.p-card{
    transition-property: all;
    transition-duration: 900ms;
}
.transition-card:hover .div-img-card{
    transition-property: all;
    transition-duration: 350ms;
    // padding: 0px;
}
.transition-card:hover .p-card {
    --tw-translate-y: 0.8rem /* 8px */;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x))
     scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));

    transition-property: transform 0.3s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 900ms;
    transition-duration: all;
    background-color: #a3f6f8;
    opacity: 0.85;
}
@media screen and (min-width:490px) {
    .event-grid{
        grid-template-columns: repeat(2,1fr);
    }
}

@media screen and (min-width:860px) {
    .event-grid{
        grid-template-columns: repeat(3,1fr);
    }
}
////// some example for glassy card
// background-color: var(--c-c);
// backdrop-filter: blur(3px 
// px
// );
// animation: bubble 1.5s linear infinite;
// animation-delay: 15s;

// backdrop-filter: blur(10px);
// background-color: rgba(32,32,32,.3)