<div class="font-site background-site pt-2">
    <div
        class="shadow-lg p-3 rounded-2xl flex-col justify-start border-2 mx-5 my-4">
        <p class="text-2xl text-gray-600 font-extrabold">
            رویدادهای نوآوری؛
        </p>
        <p class="text-start text-gray-700 font-extrabold text-xl">رویدادهایی در
            حوزه‌ی کارآفرینی با موضوع نوآوری در آفرینه، در رویداد مورد علاقه‌تان
            ثبت‌نام کنید.
        </p>
    </div>
    <div class="flex flex-col lg:flex-row  pb-10">
        <div class="flex lg:w-3/4 order-2">
            <div class="flex w-full h-auto">
                <div class="grid event-grid w-full h-full xl:m-4">
                    <div *ngFor="let event of events;let i =index"
                        class=" shadow-lg hover:shadow-2xl  rounded-xl  m-3"
                        style="background-color: #232323;"
                        [routerLink]="[event.type_name ,event.id]"
                        [queryParams]="{eventfound:'true'}" fragment="title" appScrollToTop>
                        <div class=" transition-card">
                            <div
                                class="image-card justify-items-center items-center div-img-card rounded-md">
                                <img src="../../../assets/imgs/wp4700266.jpg" alt="event"
                                    class="relative h-full">
                            </div>
                            <div
                                class="p-card relative backdrop-blur-2xl border-2 border-yellow-400 bg-opacity-30 opacity-90 m-3 p-3 rounded-lg leading-loose text-white">
                                <div
                                    class="text-md bg-yellow-400 text-black my-2 px-1 rounded-md">
                                    {{ changeJalaiDate(event.start_date) }}
                                </div>
                                <div class="text-lg font-bold">
                                    {{event.title}}
                                </div>
                                <div class="text-md ">
                                    {{event.location}}
                                </div>
                                <div class="text-md  ">
                                    {{formatDateToPersian(event.price)}} تومان
                                </div>
                                <div class="text-md  ">
                                    {{event.institute}}
                                </div>
                                <div class="text-md" [class]="bgStyle">
                                    {{ getTranslateEvent(event.type_name) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="max-h-full lg:w-1/4 px-2">
            <div
            style="background-color: #232323;" class="sticky top-[80px] left-0 w-full flex flex-col text-white rounded-2xl border-2 border-yellow-400 p-4 shadow-lg backdrop-brightness-125 my-3 xl:my-7 ">
                <div class="flex justify-center text-md font-extrabold ">
                    <p>صفحه فیلتر</p>
                </div>
                <div class="flex h-full">
    
                </div>
                <ul class="p-3">
                    <li>list</li>
                    <li>list</li>
                    <li>list</li>
                    <li>list</li>
                </ul>
                <div class="flex gap-3 items-center">
                    <input class="rounded-lg" type="checkbox">
                    <label>توسعه فردی</label>
                </div>
                <div class="flex gap-3 items-center">
                    <input class="rounded-lg" type="checkbox">
                    <label>توسعه فردی</label>
                </div>
                <div class="flex gap-3 items-center">
                    <input class="rounded-lg" type="checkbox">
                    <label>توسعه فردی</label>
                </div>
                <div class="flex gap-3 items-center">
                    <input class="rounded-lg" type="checkbox">
                    <label>توسعه فردی</label>
                </div>
                <input class="text-black" type="text" #inputFilter #mouse>
                <button type="submit" (click)="log()">ok</button>
            </div>
        </div>
    </div>
</div>