.custom-shape-divider-bottom-1707913104 {
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}
.custom-shape-divider-bottom-1707913104 svg{
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 50px;
}
.custom-shape-divider-bottom-1707913104:last-child svg{
    rotate: 180deg;
    height: 40px;
}
.custom-shape-divider-bottom-1707913104 .shape-fill {
    fill: rgba(0,3,69,1);
}
.bg-demo{
    
    background: rgb(126,0,0);
    background: linear-gradient(4deg, rgba(126,0,0,1) 15%, rgba(0,3,69,1) 84%);
}

@media screen and (min-width:1280px) {
    .bg-demo{
        background: rgb(126,0,0);
        background: radial-gradient(circle, rgba(126,0,0,1) 10%, rgba(0,3,69,1) 100%);
        }
 }