<div class="font-site background-site">
    <div class="flex flex-row pb-32 px-16 pt-10"
        style="background: rgb(126,0,0);
    background: radial-gradient(circle, rgba(126,0,0,1) 10%, rgba(0,3,69,1) 100%);">
        <div class="flex w-1/4 order-3">
            <img src="../../../../assets/imgs/demo.svg" alt>
        </div>
        <div
            class="flex flex-col text-center  w-1/2 order-2 items-center text-wrap text-white">
            <div
                class="text-5xl text-center leading-relaxed font-extrabold py-16">
                {{ event.demo_day.title }}
            </div>
            <p class="leading-loose text-xl">
                {{ event.demo_day.slogan }}
            </p>
        </div>
        <div class="flex w-1/4 order-1">
            <img src="../../../../assets/imgs/demo-1.svg" alt>
        </div>
    </div>
    <div
        class="bg-indigo-950 text-white py-12 px-10 leading-10 text-lg font-bold flex flex-row">
        <div class=" order-1 mx-3 grid justify-center items w-1/2">
            <img class
                src="../../../../assets/imgs/digital-business-conference-flyer-design-template-5328947015bafd2306e7f33adbbbb3fa_screen(1).jpg"
                alt>
            <div class="flex flex-row justify-end">
                <a
                    download="../../../../assets/imgs/digital-business-conference-flyer-design-template-5328947015bafd2306e7f33adbbbb3fa_screen(1).jpg"
                    href="../../../../assets/imgs/digital-business-conference-flyer-design-template-5328947015bafd2306e7f33adbbbb3fa_screen(1).jpg">
                    <button class="p-3 bg-red-700" type=" ">دریافت
                        پوستر</button></a>
            </div>
        </div>
        <div class="w-1/2">
            <div
                class="w-full flex flex-col justify-around gap-5 md:gap-10 text-2xl items-start pr-10 md:pr-0 ">
                <div
                    class=" h-full text-start flex items-center gap-2">
                    <div class="order-2">
                        {{
                        changeSerice.formatPriceToPersian(event.demo_day.price)
                        }} </div>
                    <div
                        class="text-2xl order-1 p-2 text-end place-self-start">
                        <i class="fa-solid fa-coins"></i>
                    </div>
                </div>
                <div
                    class=" justify-start  leading-loose flex items-center gap-2 tracking-wider">
                    <div class="order-2">
                        شروع رویداد: {{ changeSerice.changeJalaiDate(event.demo_day.start_date)[0] }}<br>ساعت: {{ changeSerice.changeJalaiDate(event.demo_day.start_date)[1]  }}
                    </div>
                    <div
                        class="text-2xl order-1 p-2 text-end place-self-start">
                        <i class="fa-regular fa-clock"></i>
                    </div>
                </div>
                <div
                    class="text-start flex items-center justify-start gap-2">
                    <div class="order-2">
                        {{event.demo_day.location}}
                    </div>
                    <div
                        class="text-2xl p-2 text-end order-1 place-self-start">
                        <i class="fa-solid fa-location-dot"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="flex flex-col "
        style="background-image: url(../../../../assets/imgs/demo-bg.svg);">
        <div class="flex w-full">
            <img class="w-full"
                src="../../../../assets/imgs/layered-waves-haikei (1).svg" alt>
        </div>
        <div
            class="flex flex-col text-black leading-8 p-10 bg-white bg-opacity-80 backdrop-brightness-110 border-2 border-gray-200 rounded-3xl mx-20 my-5">
            <div class="flex justify-start text-3xl font-extrabold py-8">
                درباره رویداد
            </div>
            <div class="text-right text-wrap text-lg leading-loose">
                <div>
                    {{ event.demo_day.description }}
                </div>
            </div>
        </div>

        <div class>
            <div class="flex flex-col justify-center sticky">
                <div class="flex justify-center py-5 ">
                    <p
                        class="text-6xl text-yellow-300 font-extrabold bg-indigo-900 rounded-3xl p-10"
                        style="background-image: url(../../../../assets/imgs/svg-seperate-demo.svg);">
                        مدرسان دوره</p>
                </div>
                <div
                    class="grid grid-cols-1  response-users gap-3 sm:gap-4 xl:gap-5 justify-items-center w-full xL:px-24 my-20">
                    <div *ngFor="let user of users">
                        <app-card-user [user]="user" [textstyle]="'text-gray-900'"
                            [bgstyle]="'bg-white bg-opacity-70 '"
                            [user]="user"></app-card-user>
                    </div>
                </div>
            </div>
            <div class="flex flex-col py-8 ">
                <div class="flex justify-center text-yellow-300 py-5">
                    <p class="text-5xl font-bold bg-indigo-900 rounded-3xl p-10"
                        style="background-image: url(../../../../assets/imgs/svg-seperate-demo.svg);">حامیان
                        دوره</p>
                </div>
                <div
                    class="grid grid-cols-1 response-brand gap-2 xl:gap-5 justify-items-center w-full p-2 lg:p-5">
                    <div *ngFor="let institute of institutes">
                        <app-card-institute
                            [bgstyle]="'bg-white bg-opacity-70 '"
                            [institute]="institute"></app-card-institute>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>