@font-face {
    font-family:'IRANYekanRegular';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/IRANYekanRegular.woff') format('woff');
}
@font-face {
    font-style: bold;
    font-weight: 700;
    font-family:'IRANYekanBold';
    src: url('./fonts/IRANYekanBold.woff') format('woff');
}
@font-face {
    font-style: light;
    font-weight: 300;
    font-family:'IRANYekanLight';
    src: url('./fonts/IRANYekanLight.woff') format('woff');
}
.font-site{
    font-family:'IRANYekanRegular',sans-serif ;
}
.font-site-b{
    font-family:'IRANYekanBold',sans-serif ;
}
.font-site-l{
    font-family:'IRANYekanLight',sans-serif ;
}
.background-site{
    background-color: #f5f6f7;
}
.background-white {
    background-color: #ffffff;
}
@media screen and (min-width: 500px) {
    .response-users {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (min-width: 760px) {
    .response-users {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media screen and (min-width: 1024px) {
    .response-users {
        grid-template-columns: repeat(4, 1fr);
    }
}
// @media screen and (min-width: 1300px) {
//     .response-users {
//         grid-template-columns: repeat(5, 1fr);
//     }
// }
////////////////////////////
@media screen and (min-width:500px) {
   .response-brand{
    grid-template-columns: repeat(2,1fr);
   }
}
@media screen and (min-width:800px) {
   .response-brand{
    grid-template-columns: repeat(3,1fr);
   }
}
@media screen and (min-width:1024px) {
   .response-brand{
    grid-template-columns: repeat(4,1fr);
   }
}
@media screen and (min-width:1280px) {
   .response-brand{
    grid-template-columns: repeat(5,1fr);
   }
}