@font-face {
    font-family:'IRANYekanRegular';
    src: url('./fonts/IRANYekanRegular.woff') format('woff');
}
.font-site{
    font-family:'IRANYekanRegular',sans-serif ;
}
.background-site{
    background-color: #f5f6f7;
}
.background-white {
    background-color: #ffffff;
}