<div class="relative">
    <div 
        class=" w-full h-auto shadow-md p-3 font-site  hover:shadow-lg">
        <div
            class="flex-col justify-center">
            <div
                class="rounded-lg flex md:flex-row flex-col  justify-center items-center md:items-start  p-4 md:p-3 lg:p-5">
                
                <div
                    class=" background-glassy rounded-xl w-full md:w-5/12 xl:w-2/5 px-2 items-center p-3 order-2 md:order-1 text-zinc-800 text-lg lg:text-xl">
                    <div class="flex justify-center ">
                        <div class=" text-2xl font-bold order-2 p-2">
                            عنوان
                        </div>
                    </div>
                    <div class="flex justify-start">
                        <div class="order-2 p-2">
                            رویداد ققنوس
                        </div>
                        <div class="text-2xl order-1 p-2">
                            <i class="fa-regular fa-circle-check"></i>
                        </div>
                    </div>
                    <hr
                        class="my-3 border-2 rounded-2xl border-gray-500 sm:mx-11 dark:border-gray-700 lg:my-4" />
                    <div class="flex justify-center ">
                        <div class=" text-current font-bold order-2 p-2">
                            شعار رویداد
                        </div>
                    </div>
                    <div class="flex justify-start">
                        <div class=" order-2 p-2 ">
                            در این وبینار صفر تا صد تولید محتوا و کسب درآمد با
                            هوش
                            مصنوعی را در قالب یک نقشۀ راه 5 مرحله‌ای و دقیق به
                            شما
                            خواهیم گفت!
                        </div>
                        <div class="text-2xl order-1 p-2 text-end">
                            <i class="fa-regular fa-circle-check"></i>
                        </div>
                    </div>
                    <hr
                        class="my-3 border-2 rounded-2xl border-gray-500 sm:mx-11 dark:border-gray-700 lg:my-4" />
                    <div class="flex justify-start items-center">
                        <div class="order-2 p-2 ">
                            04/10/1402
                        </div>
                        <div class="text-2xl order-1 p-2 text-end">
                            <i class="fa-regular fa-clock"></i>
                        </div>
                    </div>
                    <hr
                        class="my-3 border-2 rounded-2xl border-gray-500 sm:mx-11 dark:border-gray-700 lg:my-4" />
                    <div class="flex justify-start">
                        <div class=" order-2 p-2 items-center">
                            آنلاین
                        </div>
                        <div class="text-2xl order-1 p-2 text-end">
                            <i class="fa-solid fa-location-dot"></i>
                        </div>
                    </div>
                    <div>
                        <div class="flex justify-start ">
                            <div class=" order-2 p-2 items-center">
                                200000 تومان
                            </div>
                            <div class="text-2xl order-1 p-2 text-end">
                                <i class="fa-solid fa-coins"></i>
                            </div>
                        </div>
                    </div>
                    <div class="p-3 flex justify-center" routerlink="./">
                        <button
                            class="bg-blue-600 rounded-xl p-3 px-5 text-blue-50 w-1/2">
                            ثبت نام
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class=" flex flex-col font-site items-center justify-center mt-5">
        <div class="flex flex-col lg:flex-row gap-4 w-full p-4">
            
        </div>
    </div>
</div>