<div class="relative">
    <div [ngClass]="getEventType('')"
        class=" w-full h-auto shadow-md p-3 font-site  hover:shadow-lg">
        <div
            class="flex-col justify-center">
            <div
                class="rounded-lg flex md:flex-row flex-col  justify-center items-center md:items-start  p-4 md:p-3 lg:p-5">
                <div
                    class="poster-event pb-5 md:pb-2 md:pr-5 w-full md:w-7/12 xl:w-3/5  h-full flex justify-center order-1 md:order-2">
                    <img class="w-full rounded-xl hover:shadow-xl object-cover "
                        src="../assets/imgs/digital-business-conference-flyer-design-template-5328947015bafd2306e7f33adbbbb3fa_screen(1).jpg"
                        alt>
                </div>
                <div
                    class=" background-glassy rounded-xl w-full md:w-5/12 xl:w-2/5 px-2 items-center p-3 order-2 md:order-1 text-zinc-800 text-lg lg:text-xl">
                    <div class="flex justify-center ">
                        <div class=" text-2xl font-bold order-2 p-2">
                            عنوان
                        </div>
                    </div>
                    <div class="flex justify-start">
                        <div class="order-2 p-2">
                            رویداد ققنوس
                        </div>
                        <div class="text-2xl order-1 p-2">
                            <i class="fa-regular fa-circle-check"></i>
                        </div>
                    </div>
                    <hr
                        class="my-3 border-2 rounded-2xl border-gray-500 sm:mx-11 dark:border-gray-700 lg:my-4" />
                    <div class="flex justify-center ">
                        <div class=" text-current font-bold order-2 p-2">
                            شعار رویداد
                        </div>
                    </div>
                    <div class="flex justify-start">
                        <div class=" order-2 p-2 ">
                            در این وبینار صفر تا صد تولید محتوا و کسب درآمد با
                            هوش
                            مصنوعی را در قالب یک نقشۀ راه 5 مرحله‌ای و دقیق به
                            شما
                            خواهیم گفت!
                        </div>
                        <div class="text-2xl order-1 p-2 text-end">
                            <i class="fa-regular fa-circle-check"></i>
                        </div>
                    </div>
                    <hr
                        class="my-3 border-2 rounded-2xl border-gray-500 sm:mx-11 dark:border-gray-700 lg:my-4" />
                    <div class="flex justify-start items-center">
                        <div class="order-2 p-2 ">
                            04/10/1402
                        </div>
                        <div class="text-2xl order-1 p-2 text-end">
                            <i class="fa-regular fa-clock"></i>
                        </div>
                    </div>
                    <hr
                        class="my-3 border-2 rounded-2xl border-gray-500 sm:mx-11 dark:border-gray-700 lg:my-4" />
                    <div class="flex justify-start">
                        <div class=" order-2 p-2 items-center">
                            آنلاین
                        </div>
                        <div class="text-2xl order-1 p-2 text-end">
                            <i class="fa-solid fa-location-dot"></i>
                        </div>
                    </div>
                    <div>
                        <div class="flex justify-start ">
                            <div class=" order-2 p-2 items-center">
                                200000 تومان
                            </div>
                            <div class="text-2xl order-1 p-2 text-end">
                                <i class="fa-solid fa-coins"></i>
                            </div>
                        </div>
                    </div>
                    <div class="p-3 flex justify-center" routerlink="./">
                        <button
                            class="bg-blue-600 rounded-xl p-3 px-5 text-blue-50 w-1/2">
                            ثبت نام
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class=" flex flex-col font-site items-center justify-center mt-5">
        <div
            class="grid grid-cols-1 response-users gap-3 sm:gap-4 xl:gap-5 justify-items-center w-full m-auto  ">
            <div *ngFor="let user of users"
                class="grid items-center justify-items-center justify-center col-span-1 background-white shadow-lg hover:shadow-xl rounded-lg p-4 sm:p-4 lg:px-6 xl:py-8 response-user m-auto">
                <div class="text-2xl order-1 p-2 text-end w-32 ">
                    <img src="../../../assets/imgs/1701071988810.jpg"
                        class="rounded-full border-2 border-red-600">
                </div>
                <div
                    class="text-center font-bold text-xl order-2 py-2 leading-relaxed">
                    {{user.name}}
                </div>
                <div
                    class="text-center text-gray-700 font-extrabold text-lg order-2 py-2">
                    {{user.position}}
                </div>
                <div class="text-center text-md font-semibold order-2 py-2 leading-relaxed">
                    {{user.educate}}
                </div>
                <div class="text-center text-md font-semibold order-2 py-2 leading-loose">
                    {{user.executive}}
                </div>
            </div>
        </div>

        <div class="flex flex-col lg:flex-row gap-4 w-full p-4">
            <div class="flex w-full lg:w-3/5">
                <div
                    class="flex flex-col background-white shadow-lg hover:shadow-xl rounded-lg mb-6 p-3 gap-4">
                    <div class="flex justify-start">
                        <div class=" order-2 p-2 items-center leading-8">
                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از
                            صنعت
                            چاپ، و
                            با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه
                            روزنامه
                            و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط
                            فعلی
                            تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود
                            ابزارهای
                            کاربردی می باشد، کتابهای زیادی در شصت و سه درصد
                            گذشته
                            حال و
                            آینده، شناخت فراوان جامعه و متخصصان را می طلبد، تا
                            با
                            نرم
                            افزارها شناخت بیشتری را برای طراحان رایانه ای علی
                            الخصوص
                            طراحان خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد کرد،
                            در
                            این
                            صورت می توان امید داشت که تمام و دشواری موجود در
                            ارائه
                            راهکارها، و شرایط سخت تایپ به پایان رسد و زمان مورد
                            نیاز
                            شامل حروفچینی دستاوردهای اصلی، و جوابگوی سوالات
                            پیوسته
                            اهل
                            دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.
                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از
                            صنعت
                            چاپ، و
                            با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه
                            روزنامه
                            و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط
                            فعلی
                            تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود
                            ابزارهای
                            کاربردی می باشد، کتابهای زیادی در شصت و سه درصد
                            گذشته
                            حال و
                            آینده، شناخت فراوان جامعه و متخصصان را می طلبد، تا
                            با
                            نرم
                            افزارها شناخت بیشتری را برای طراحان رایانه ای علی
                            الخصوص
                            طراحان خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد کرد،
                            در
                            این
                            صورت می توان امید داشت که تمام و دشواری موجود در
                            ارائه
                            راهکارها، و شرایط سخت تایپ به پایان رسد و زمان مورد
                            نیاز
                            شامل حروفچینی دستاوردهای اصلی، و جوابگوی سوالات
                            پیوسته
                            اهل
                            دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.
                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از
                            صنعت
                            چاپ، و
                            با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه
                            روزنامه
                            و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط
                            فعلی
                            تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود
                            ابزارهای
                            کاربردی می باشد، کتابهای زیادی در شصت و سه درصد
                            گذشته
                            حال و
                            آینده، شناخت فراوان جامعه و متخصصان را می طلبد، تا
                            با
                            نرم
                            افزارها شناخت بیشتری را برای طراحان رایانه ای علی
                            الخصوص
                            طراحان خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد کرد،
                            در
                            این
                            صورت می توان امید داشت که تمام و دشواری موجود در
                            ارائه
                            راهکارها، و شرایط سخت تایپ به پایان رسد و زمان مورد
                            نیاز
                            شامل حروفچینی دستاوردهای اصلی، و جوابگوی سوالات
                            پیوسته
                            اهل
                            دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.
                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از
                            صنعت
                            چاپ، و
                            با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه
                            روزنامه
                            و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط
                            فعلی
                            تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود
                            ابزارهای
                            کاربردی می باشد، کتابهای زیادی در شصت و سه درصد
                            گذشته
                            حال و
                            آینده، شناخت فراوان جامعه و متخصصان را می طلبد، تا
                            با
                            نرم
                            افزارها شناخت بیشتری را برای طراحان رایانه ای علی
                            الخصوص
                            طراحان خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد کرد،
                            در
                            این
                            صورت می توان امید داشت که تمام و دشواری موجود در
                            ارائه
                            راهکارها، و شرایط سخت تایپ به پایان رسد و زمان مورد
                            نیاز
                            شامل حروفچینی دستاوردهای اصلی، و جوابگوی سوالات
                            پیوسته
                            اهل
                            دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.
                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از
                            صنعت
                            چاپ، و
                            با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه
                            روزنامه
                            و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط
                            فعلی
                            تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود
                            ابزارهای
                            کاربردی می باشد، کتابهای زیادی در شصت و سه درصد
                            گذشته
                            حال و
                            آینده، شناخت فراوان جامعه و متخصصان را می طلبد، تا
                            با
                            نرم
                            افزارها شناخت بیشتری را برای طراحان رایانه ای علی
                            الخصوص
                            طراحان خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد کرد،
                            در
                            این
                            صورت می توان امید داشت که تمام و دشواری موجود در
                            ارائه
                            راهکارها، و شرایط سخت تایپ به پایان رسد و زمان مورد
                            نیاز
                            شامل حروفچینی دستاوردهای اصلی، و جوابگوی سوالات
                            پیوسته
                            اهل
                            دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex flex-col w-full lg:w-2/5">
                <div
                    class="background-white shadow-lg hover:shadow-xl rounded-lg mb-6 p-5 gap-4 h-auto w-full lgw-1/2 flex flex-col justify-start">
                    <div class="flex flex-row  justify-start">
                        <div class=" order-2 p-2 items-center">
                            <div class="flex flex-col">
                                <div class="pb-3">
                                    علمی و پژوهشی
                                </div>
                                <div class="pb-3">
                                    مدیریت
                                </div>
                                <div class="pb-3">
                                    مهندسی نرم افزار
                                </div>
                                <div class="pb-3">
                                    مدیریت منابع انسانی
                                </div>
                            </div>
                        </div>
                        <div class="text-2xl order-1 p-2 text-end">
                            <i class="fa-solid fa-list-ul"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div
            class="grid grid-cols-1 response-brand gap-2  xl:gap-5 justify-items-center w-full p-2 lg:p-5 ">
            <div *ngFor="let institute of institutes"
                class="grid items-center justify-items-center justify-center col-span-1 max-w-80 background-white shadow-lg hover:shadow-xl rounded-lg p-7 sm:p-4 lg:px-6 xl:py-8">
                <div class="text-2xl order-1 p-2 text-end w-32 ">
                    <img src="../../../assets/imgs/afarine-img.png"
                        class="rounded-full border-2 border-red-600">
                </div>
                <div
                    class="text-center font-bold text-xl order-2 py-2 leading-relaxed">
                    {{institute.name}}
                </div>
            </div>
        </div>
    </div>
</div>